.adminActions{
    margin-left: 8px;
}

.adminActions button{
    appearance: none;
    border: none;
    padding: 8px;
    border-radius: 50%;
    background-color: transparent;
    color: var(--textSecondary);
    transition: background-color .2s ease, color .2s ease;
    cursor: pointer;
    outline: none!important;
}

.adminActions button:hover{
    background-color: var(--border);
    color: var(--text);
}

.adminActions button svg{
    display: block;
}

.fab{
    position: fixed;
    bottom: 24px;
    right: 24px;
    padding: 12px;
    background-color: var(--primary);
    color: var(--back);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    outline: none!important;
    transition: background-color .2s ease, transform .2s ease;
}

.fab:hover{
    background-color: var(--primaryLighter);
}

.fab:active{
    transform: scale(.96);
}

.fab svg{
    display: block;
}

.field{
    margin-bottom: 12px;
}

.admin{
    display: flex;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px var(--border) solid;
}

.adminInfo{
    width: calc(100% - 48px);
}

.adminInfo>div{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.adminLogin{
    font-weight: bold;
}

.adminAccess{
    font-size: 10px;
    color: var(--textSecondary);
    text-transform: uppercase;
}